@charset "UTF-8";

:root {
  --cor1: #F2E205;
  --cor2: #f2cb05;
  --cor3: #A67D03;
  --cor4: #D91604;
  --cor5: #F2F2F2;


  --font1: "Basic", sans-serif;

  --font2: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




@media screen and (min-width:766px) and (max-width:990px) {



  hr{
    height: 25px;
    background-color: var(--cor2);
    border: none;
    width: 100vw;
}


  header>h1 {
    font-size: 5em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  header>#burger {
    display: none;
  }

  header>menu {
    display: block !important;
  }

  header>menu>ul>li {
    display: inline-block;
    justify-content: center;
    font-size: .7em;
    text-align: justify;
    border-radius: 5px;
    padding: 1px;
    margin-left: 5px;
  }

  main {
    background-color: var(--cor5);
    width: 100vw;
    margin: auto;
    width: 99vw;
    padding: 70px;
  }

  main>p {
    font-size: .8;
    padding: 25px;
  }

  .senhora-aparecida>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 35px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
    width: 500px;
    margin: auto;

    strong {
      color: #000000c1;
      font-size: 1.em;
      font-family: var(--font2);
    }
  }

  #img-aparecida {
    background-image: url(img/aparecida-tablet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.712);
    height: 400px;
  }

  .senhora-aparecida {
    width: 99vw;
    margin: auto;
    padding: 30px;
  }


  .senhora-fatima>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 35px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
    width: 500px;
    margin: auto;

    strong {
      color: #000000c1;
      font-size: 1.em;
      font-family: var(--font2);
    }
  }


  .senhora-fatima {
    width: 99vw;
    margin: auto;
    padding: 30px;
  }

  #img-fatima {
    background-image: url(img/fatima-tablet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.712);
    height: 400px;
  }

  #img-lourdes {
    background-image: url(img/lourdes-tablet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.712);
    height: 400px;
  }

  .senhora-lourdes>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 35px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
    width: 500px;
    margin: auto;

    strong {
      color: #000000c1;
      font-size: 1.em;
      font-family: var(--font2);
    }
  }


  .senhora-lourdes {
    width: 99vw;
    margin: auto;
    padding: 30px;
  }




  #img-guadalupe {
    background-image: url(img/guadalupe-tablet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.712);
    height: 400px;
  }

  .senhora-guadalupe>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 35px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
    width: 500px;
    margin: auto;

    strong {
      color: #000000c1;
      font-size: 1.em;
      font-family: var(--font2);
    }
  }


  .senhora-guadalupe {
    width: 99vw;
    margin: auto;
    padding: 30px;
  }




  #img-gracas {
    background-image: url(img/gracas-tablet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.712);
    height: 400px;
  }

  .senhora-gracas>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 35px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
    width: 500px;
    margin: auto;

    strong {
      color: #000000c1;
      font-size: 1.em;
      font-family: var(--font2);
    }
  }


  .senhora-gracas {
    width: 99vw;
    margin: auto;
    padding: 30px;
  }


  .text-video>p {
    font-family: var(--font2);
    font-size: .8em;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.388);
    width: 450px;
    margin: auto;
    padding: 20px;
  }

  .text-video {
    background-color: var(--cor2);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.624);
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 0px;
    background-color: var(--cor2);
  }

  iframe {
    width: 100vw;
    max-width: 100vw;
    height: 350px;

    
  }


  #final01{
    background-image: url(img/final-tablet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 60px 60px 100px rgba(0, 0, 0, 0.712);
    height: 400px;
  }

  #final01 p{
    font-family: var(--font2);
    font-size: .8em;
    text-align: justify;
   margin: auto;
padding: 30px;
    line-height: 1.7em;
color: #000000;
    background-color: #ffffff81;
 border-radius: 10px ; 
 width: 400px;
}

#final01>h1{
    font-family: var(--font5);
    font-size: 2em;
    text-align: center;
    margin: auto;
    padding: 20px;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.41);
    color: var(--cor5);
}
.pai{
  background-color: var(--cor2);
  width: 100vw;
}
}



@media screen and (min-width:990px) {




  header>div#img {
    background-image: url(img/header-bdr.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.44);
    width: 100vw;
  }

  header>h1 {
    font-size: 6em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  header>#burger {
    display: none;
  }

  header>menu {
    display: block !important;
  }

  header>menu>ul>li {
    display: inline-block;
    justify-content: center;
    font-size: .9em;
    text-align: justify;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  main {
    background-color: var(--cor5);
    width: 100vw;
    margin: auto;
  }

  main>p {
    font-size: .9em;
    padding: 25px;
    margin: auto;
    width: 800px;
  }

  .senhora-aparecida>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 45px;
    text-align: justify;
    line-height: 2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
    width: 500px;
    margin: auto;

    strong {
      color: #000000c1;
      font-size: 1.1em;
      font-family: var(--font2);
    }
  }

  .senhora-aparecida {
    width: 99vw;
    margin: auto;
    padding: 30px;
    background-color: var(--cor5);
  }

  #img-aparecida {
    background-image: url(img/aparecida-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.559);
    height: 500px;
  }

  .senhora-fatima>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 45px;
    text-align: justify;
    line-height: 2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
    width: 500px;
    margin: auto;

    strong {
      color: #000000c1;
      font-size: 1.1em;
      font-family: var(--font2);
    }
  }

  .senhora-fatima {
    width: 99vw;
    margin: auto;
    padding: 30px;
    background-color: var(--cor5);
  }

  #img-fatima {
    background-image: url(img/fatima-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.559);
    height: 500px;
  }

  #img-lourdes {
    background-image: url(img/lourdes-desktop.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.559);
    height: 500px;
  }

  .senhora-lourdes>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 45px;
    text-align: justify;
    line-height: 2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
    width: 500px;
    margin: auto;

    strong {
      color: #000000c1;
      font-size: 1.1em;
      font-family: var(--font2);
    }
  }

  .senhora-lourdes {
    width: 99vw;
    margin: auto;
    padding: 30px;
    background-color: var(--cor5);
  }






  #img-guadalupe {
    background-image: url(img/guadalupe-desktop.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.559);
    height: 500px;
  }

  .senhora-guadalupe>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 45px;
    text-align: justify;
    line-height: 2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
    width: 500px;
    margin: auto;

    strong {
      color: #000000c1;
      font-size: 1.1em;
      font-family: var(--font2);
    }
  }

  .senhora-guadalupe {
    width: 99vw;
    margin: auto;
    padding: 30px;
    background-color: var(--cor5);
  }

  #img-gracas {
    background-image: url(img/gracas-desktop.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.559);
    height: 500px;
  }

  .senhora-gracas>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 45px;
    text-align: justify;
    line-height: 2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
    width: 500px;
    margin: auto;

    strong {
      color: #000000c1;
      font-size: 1.1em;
      font-family: var(--font2);
    }
  }

  .senhora-gracas {
    width: 99vw;
    margin: auto;
    padding: 30px;
    background-color: var(--cor5);
  }

  .text-video>p {
    font-family: var(--font2);
    font-size: .8em;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.388);
    width: 450px;
    margin: auto;
    padding: 20px;
  }

  .text-video {
    background-color: var(--cor2);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.624);
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: auto;
    height: auto;
    padding: 0px;
    background-color: var(--cor2);

  }

  iframe {
    width: 100vw;
    max-width: 100vw;
    height: 450px;
box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.587);
  }

  #final01>p{
    font-family: var(--font1);
    font-size: .8em;
    text-align: justify;
    line-height: 1.7em;
    padding: 80px;
    width: 500px;
   text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.378);
    color: black;
  }
  
  #final01>h1{
    font-family: var(--font5);
    font-size: 2em;
    text-align: center;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(4, 4, 4, 0.388);
    color: var(--cor5);
    padding: 20px;
  }
  
  
  #final01{
    background-color: var(--cor2);

  
  
    background-image: url(img/final-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 100px 100px 120px rgba(0, 0, 0, 0.712);
    height: 500px;
  }
  
  
  hr{
    height: 30px;
    background-color: var(--cor2);
  
      margin: auto;
    width: 100vw;
  }
  .pai{
    background-color: var(--cor2);
    width: 100vw;
  }
}




