@charset "UTF-8";

:root {
  --cor1: #F2E205;
  --cor2: #f2cb05;
  --cor3: #A67D03;
  --cor4: #D91604;
  --cor5: #F2F2F2;


  --font1: "Basic", sans-serif;

  --font2: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media (min-width: 992px){

  header{
    text-align: center;
  }
  header>menu>ul>li>a:hover{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }
  .containe {
    flex-direction: column;
    width: 80vw;
    margin: auto;
    border-radius: 8px;
}
.salve-rainha {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
margin: 30px auto;
border-radius: 8px;
box-shadow: 3px 3px 10px #33333388;
  #img-aparecida, #img-fatima, #img-lourdes, #img-guadalupe, #img-gracas, #img-final, #img {
margin: 0px;
    width: 40%;
    background-image: url(img/aparecida-tablet.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  box-shadow: none;
  border-radius: 8px 0px 0px 8px;

  

  }
  #img-fatima{
    background-image: url(img/fatima-tablet.png);
   
}
#img-lourdes{
    background-image: url(img/lourdes-tablet.png);
  
}
#img-guadalupe{
    background-image: url(img/guadalupe-tablet.png);
}
#img-gracas{
    background-image: url(img/gracas-tablet.png);
}
#img-final{
  background-image: url(img/final-tablet.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#img{
  background-image: url(img/header-bdr.jpg);
  background-size:  cover;
}
}





p {
  width: 60%;
  padding-left: 20px;
}

header>menu {
  display: block !important;
}
header>menu>ul>li {
  display: inline-block;
  justify-content: center;
  font-size: .7em;
  text-align: justify;
  border-radius: 5px;
  padding: 1px;
  margin-left: 5px;
}

header>#burger{
  display: none;
}



}


