@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

@font-face {
    font-family: hotolie;
    src: url(Hatolie.ttf);
}

@font-face {
    font-family: mermaid01;
    src: url(Mermaid1001.ttf);
}

@font-face {
    font-family: mermaid;
    src: url(Mermaid\ Swash\ Caps.ttf);
}

:root {
    --cor1: #F2E205;
    --cor2: #f2cb057c;
    --cor3: #A67D03;
    --cor4: #D91604;
    --cor5: #dadadaad;


    --font1: "Basic", sans-serif;

    --font2: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font3: hotolie;

    --font4:mermaid01;
    --font5:mermaid;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body,
html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--cor5);
}


hr{
    height: 20px;
    background-color: var(--cor2);
    border: none;
    width: 100vw;
}

header {
background-color: var(--cor5);
}



header>div#img {
    background-image: url(img/header-bdr.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 250px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.44);
    width: 100vw;
}

header>h1 {
    font-family: var(--font3);
    text-align: center;
    margin-top: 20px;
    color: #000000;
    font-size: 3.5em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.463);
    letter-spacing: 5px;
}



header>menu {
    display: none;

    ul {
        list-style-type: none;

        li {
            a {
                display: block;
                padding: 7px;
                margin-left: 5px;
                text-decoration: none;
                background-color: var(--cor5);
                color: black;
                text-align: justify;
                text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.354);
                font-family: var(--font2);
                transition-duration: .1s;

            }
        }
    }
}


header>menu>ul>li>a:hover {
    background-color: #c7c6c6;
}

header>#burger {
    width: 26px;
    display: block;
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.249);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.301);
}

#burger:hover {
    box-shadow: 1px 1px 2px var(--cor3);
}

main {
    background-color: var(--cor5);
    padding: 40px;
}

main>p {
    font-family: var(--font2);
    font-size: .8em;
    padding: 10px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.388);


    strong {
        color: #000000c1;
    }
}



.senhora-aparecida>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 20px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.388);
    padding: 20px;

    strong {
        color: #000000c1;
        font-size: 1.1em;
        font-family: var(--font2);
    }
}

#img-aparecida {
    background-image: url(img/aparecida-tablet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.712);
    height: 300px;
}

.senhora-aparecida {
    font-family: var(--font2);
    font-size: .9em;
    padding: 40px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
    background-color: var(--cor5);
}




#img-fatima {
    background-image: url(img/fatima-cel.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.712);
    height: 300px;
}

.senhora-fatima>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 20px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.388);
    padding: 20px;

    strong {
        color: #000000c1;
        font-size: 1.1em;
        font-family: var(--font2);
    }
}

.senhora-fatima {
    font-family: var(--font2);
    font-size: .9em;
    padding: 40px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
    background-color: var(--cor5);
}

#img-lourdes {
    background-image: url(img/lourdes-cel.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.712);
    height: 300px;
}

.senhora-lourdes>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 20px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.388);
    padding: 20px;

    strong {
        color: #000000c1;
        font-size: 1.1em;
        font-family: var(--font2);
    }
}





.senhora-lourdes {
    font-family: var(--font2);
    font-size: .9em;
    padding: 40px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
    background-color: var(--cor5);
}



#img-guadalupe {
    background-image: url(img/guadalupe-cel.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.712);
    height: 300px;
}


.senhora-guadalupe>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 20px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.388);
    padding: 20px;

    strong {
        color: #000000c1;
        font-size: 1.1em;
        font-family: var(--font2);
    }
}

.senhora-guadalupe {
    font-family: var(--font2);
    font-size: .9em;
    padding: 40px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
    background-color: var(--cor5);
}



#img-gracas {
    background-image: url(img/gracas-cel.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.712);
    height: 300px;
}


.senhora-gracas>p {
    font-family: var(--font2);
    font-size: .9em;
    padding: 20px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.388);
    padding: 20px;

    strong {
        color: #000000c1;
        font-size: 1.1em;
        font-family: var(--font2);
    }
}

.senhora-gracas {
    font-family: var(--font2);
    font-size: .9em;
    padding: 40px;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
    background-color: var(--cor5);
}


.text-video>p {
    font-family: var(--font2);
    font-size: .8em;
    text-align: justify;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.388);
}

.text-video {
    background-color: var(--cor2);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.624);
}

.title-video {
    font-family: var(--font2);
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
    color: var(--cor1);
    background-color: black;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.482);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 250px;
    box-shadow: 22px 22px 40px rgba(0, 0, 0, 0.587);
    
}

#final01 p{
    font-family: var(--font2);
    font-size: .8em;
    text-align: justify;
   margin: auto;
padding: 10px;
    line-height: 1.7em;
color: #000000;
    background-color: #ffffff81;
 border-radius: 10px ; 
}

#final01>h1{
    font-family: var(--font5);
    font-size: 2em;
    text-align: center;
    margin: auto;
    padding: 10px;
    line-height: 1.7em;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.41);
    color: var(--cor5);
}


#final01{
    background-image: url(img/final-cel.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 50px 50px 80px rgba(0, 0, 0, 0.712);
    height: 300px;
padding-right: 60px;
padding-left: 20px;

}